.wy-side-nav-search > a:hover {
    background: none;
}

.wy-side-scroll {
    background-color: #195AA7;
    color: white;
}

.wy-nav-side {
    padding-bottom: 0;
}

.wy-menu-vertical a:hover {
    background: #6DBE00;
}

.wy-nav-content {
    max-width: 1000px;
}

.wy-nav-content a {
    color: #6DBE00;
}

h1,h2,h3,h4,h5,h6 {
    color: #195AA7;   
}
table td {
    background-color: transparent;
}