.wy-side-nav-search > a:hover {
    background: none;
}

.wy-side-scroll {
    background-color: #195AA7;
    color: #fff;
}

.wy-nav-side {
    padding-bottom: 0;
}

.wy-menu-vertical a,
.wy-menu-vertical a:hover button.toctree-expand {
    color: #fff;
}

.wy-menu-vertical a:hover,
.wy-nav-content button:hover {
    background: #6DBE00;
}

.wy-menu-vertical li.current a:hover {
    background: #6dbe00;
    color: #fff;
}

.wy-menu-vertical li button.toctree-expand {
    color: #6DBE00;
}

.wy-menu-vertical li button.toctree-expand:hover {
    color: #fff;
}

.wy-nav-content {
    max-width: 1000px;
}

.wy-nav-content a {
    color: #6DBE00;
}

.wy-nav-content h1,
.wy-nav-content h2,
.wy-nav-content h3,
.wy-nav-content h4,
.wy-nav-content h5,
.wy-nav-content h6 {
    color: #195AA7;   
}

.wy-menu-vertical a {
    color: #fff;
}

.wy-nav-content button {
    background: #195aa7;
    border: #195aa7;
    padding: 10px 30px 10px 16px;
    position: relative;
    transition: 0.2s;
    color: #fff;
    border-radius: .25rem;
}

.wy-table-responsive table td {
    background-color: transparent;
}