.wy-side-nav-search > a:hover {
    background: none;
}

.wy-side-scroll {
    background-color: #195AA7;
}

.wy-nav-side {
    padding-bottom: 0;
}

.wy-menu-vertical a:hover {
    background: #6DBE00;
}

h1,h2,h3,h4,h5,h6 {
    background-color: #195AA7;   
}